* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: center;
  background-color: #0066cc;
  padding: 1rem;
}

.menu_items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu_items li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.menu_items li a:hover {
  background-color: #0059b3;
}

.menu_items li a.active {
  background-color: #0059b3;
}
